
.tranHistory{
    border: 1px solid black;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tranHistory__history{
    
    display: flex;           
    padding: 10px;

    div{
        pointer-events: none;
    }
}
